
   background-color: #22262C; 
   border-radius: 15px;
   padding: 2rem;
   text-align: center;
}

.card-title{
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: 1rem;
}

.card-price{
    font-size: 3rem;
    text-align: center;
}

h2>span{
    font-size: 1rem;
}

#card-3 .card-price{
    font-size: 2rem;
} 

#card-1 .card-price{
    margin-bottom: 4rem;
}
.card ul{
    text-align: left;
    font-size: 0.9rem;
    font-weight: lighter;
}

.card ul li:before{
    content:"•";
    margin-right: 0.5rem;
    color:#bc1e4a;
    font-size: 1.5rem;
}

.card ul li{
    margin-bottom: 0.5rem;
}

.card-btn{
    margin-top: 1rem;
    width: 100%;
    background-color: transparent;
    border: 1px solid #bc1e4a;
    color:white;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 35px;
}

#card-1 .card-btn:hover, 
#card-3 .card-btn:hover, 
.active .card-btn
{
    background-color: #bc1e4a;
}
option{
    font-size: 1.2rem;
    background-color: #333;
}

.note{
    color:#bc1e4a;
    font-size: 0.75rem;
    text-align: left;
    display: block;
    margin-top: 5px;
}

#card-2 ul{
    margin-top: 3rem;
}

#card-3 ul{
    margin-top: 7.5rem;
}

@media (max-width:848px){
.card{
    width:50%
}
}

@media (max-width:674px){
.top-banner{
    width: 70%;
}
.card{
    width: 70%;
}
}

@media (max-width:500px){
.top-banner{
    width: 90%;
}
.card {
    width: 90%;
}
}
